@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&family=Roboto:wght@300&display=swap");

:root {
  --main-green: #3b4b21;
  --main-orange: #ff7a00;
  --main-white: #ffffff;
  --secondary-white: #fff5e2;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  color: var(--secondary-white);
  background-color: var(--main-green);
  padding-bottom: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Flex";
  font-weight: 200;
  color: var(--secondary-white);
}

.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

/* NAVIGATION BAR */
.main-header {
  text-align: center;
  margin-top: 12px;
  font-size: 48px;
}
.nav {
  width: 100%;
  max-width: 450px;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  padding: 12px 16px 16px;
  background-color: #ffffff;
  background-image: none;
  z-index: 10000;
  opacity: 0.98;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 50px;
  height: 60px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.2s;
  z-index: 100;
}

.nav-item-icon {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}

.nav-item-text {
  color: black;
  font-size: 10px;
}

/* HOME PAGE */
.home-section {
  padding-top: 20px;
  margin-bottom: 64px;
}

.home-img {
  width: 100%;
  max-width: 405px;
  height: 333px;
  object-fit: cover;
  border-radius: 24px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
  margin: 0 auto;
}

.home-heading {
  margin: 0 auto;
  line-height: 1.3em;
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.home-subheading {
  width: 80%;
}

.home-subheading span {
  color: var(--main-orange);
  line-height: 1.4em;
}

.home-button {
  padding: 16px 36px;
  font-size: 16px;
  font-family: "Roboto";
  background-color: var(--main-orange);
  border: none;
  border-radius: 40px;
  color: white;
  margin-top: 20px;
  text-decoration: none;
}

/* INFO SECTION */
.info-wrapper, .education-wrapper {
  background-color: #253015;
  border-radius: 24px;
  padding: 28px 16px;
}

.info-header {
  text-align: center;
  font-size: 36px;
  margin-bottom: 24px;
}

.info-point {
  margin-bottom: 24px;
}

.info-point span {
  color: var(--main-orange);
  font-size: 45px;
}
.info-text {
  font-size: 23px;
  margin-top: 8px;
}

/* PRICING */
.pricing-section {
  background-color: var(--secondary-white);
  color: black;
  padding: 32px 0;
  border-radius: 24px;
  width: 90%;
  margin: 64px auto;
}

.pricing-header {
  color: var(--main-orange);
  letter-spacing: 0.03em;
  margin-bottom: 4px;
  margin-top: 24px;
}

.pricing-button {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 16px 36px;
  border-radius: 5px;
  margin-top: 12px;
  font-size: 14px;
  display: inline-block;
}

.pricing-button-2 {
  background-color: transparent;
  border: 1px solid black;
  color: black;
}

.pricing-text {
  margin-bottom: 32px;
}

.pricing-buttons {
  width: 100%;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  border: 1px solid var(--main-orange);
}

.pricing-buttons button {
  width: 50%;
  border: none;
  font-size: 16px;
  padding-block: 12px;
  background-color: var(--secondary-white);
  color:black;
}

.pricing-buttons button.active {
  background-color: var(--main-orange);
}
.pricing-content-point {
  display: none;
}
.pricing-content-point.active {
  display: block;
}

.pricing-header-2 {
  margin-top: 16px;
}

.presentation {
  padding-bottom: 30px;
  padding-top: 14px;
  color: black;
  display: inline-block;
}

.pricing-button-3 {
  margin-top: 0;
}

/* REVIEWS */
.review {
  background: var(--secondary-white);
  height: auto;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  align-items: center;
  color: black;
}

.review__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.review__items img {
  width: 80%;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 15px;
  margin-bottom: 16px;
}

.review__items h1 {
  font-size: 24px;
  color: black;
  text-align: center;
  margin-bottom: 12px;
}

.review__items p {
  font-size: 14px;
  color: black;
  text-align: center;
}

.review__button {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.review__button button {
  color: var(--secondary-white);
  background: var(--main-green);
  font-family: "roboto";
  font-size: 36px;
  padding: 12px 24px;
  border-radius: 55px;
  border: none;
}

.review__items {
  display: none;
}

/* MATERIALS SECTION */
.materials-section {
  background-color: #253015;
  width: 95%;
  margin: 64px auto;
  border-radius: 16px;
  padding-block: 32px;
}

iframe {
  border-radius: 16px;
}

.telegram-wrapper {
  width: 100%;
  height: 300px;
  border-radius: 16px;
  margin-top: 32px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(117, 19, 93, 0.4)
    ),
    url("/img/screen.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.telegram-button {
  padding: 12px 32px;
  background-color: #000000;
  display: inline-block;
  border-radius: 8px;
  margin-top: 190px;
  color: white;
  text-decoration: none;
}


.telegram-title {
  font-size: 40px;
  margin-top: 12px;
}



/* FAQ SECTION */

.faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 90%;
  margin: 40px auto;
  color: var(--secondary-white);
  font-family: "Roboto";
  font-weight: lighter;
}

.toggle-sign {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
  font-size: 16px;
}
.toggle-sign i {
  color: var(--secondary-white);
  padding: 6px;
  background-color: var(--main-green);
  border-radius: 30px;
  opacity: 0.5;
}
.open .toggle-sign {
  transform: rotate(180deg);
}

.question {
  font-size: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-white);
  width: 100%;
  border-radius: 12px;
  padding: 20px 20px;
  color: black;
  margin-bottom: 4px;
}

.question.open {
  border: 0.3px solid var(--secondary-color);
  filter: brightness(123%);
}

.answer {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Bricolage Grotesque", sans-serif;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  color: var(--main-text-color);
}

.answer:not(:last-child) {
  margin-bottom: 12px;
}


/* CONTACT */
.contact-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-button {
  padding-block: 16px;
  width: 90%;
  text-align: center;
  background-color: var(--main-orange);
  color: white;
  text-decoration: none;
  border-radius: 60px;
  margin: 0 auto;
  display: inline-block;
}

/* FOOTER SECTION */
.footer-section .container{
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding-inline: 32px;
  margin-top: 120px;
}



/* EDUCATION SECTION */
.education-wrapper {
  margin-top: 32px;
}

.education-header {
  text-align: center;
  font-size: 32px;
  margin-bottom: 24px;
}

.education-wrapper a {
  text-decoration: none;
  font-size: 20px;
  color: var(--secondary-white);
  display: inline-block;
  border-bottom: 1px solid var(--secondary-white);
  width: 100%;  
}

.education-section {
  background-color: #253015;
  width: 90%;
  margin: 0 auto;
  padding-block: 16px;
  margin-top: 16px;
  border-radius: 24px;
}

.education-section h2 {
  margin-top: 6px;
  margin-bottom: -12px;
}

.education-question {
  background-color: #fffbe3;
}

.education-section img {
  width: 100%;
  border-radius: 10px;
}

.education-section .text {
  margin-top: 32px;
}

.education-section span {
  font-size: 20px;
}
